*{
    font-size: 50px;
    font-family: Roboto, sans-serif;
}
.removal{
    font-size: 30px;
}
.calc-outer{
    display: flex;
    justify-content: center;
    flex: 0;
    margin-top: 80px;
}
.calc-display{
    width: 368px;
    background-color: grey;
}
.calc-inner{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 400px;
    padding: 10px;
    margin: 0px;
    flex-shrink: 0;
    border-radius: 4%;
    gap: 16px;
}
.buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0px;

}
.digits{
    width:368px;
    display:flex;
    flex-wrap: wrap;
    /*flex: 0 0 33.33333%;*/
    gap: 16px;
    /*justify-content: center;*/
    /*margin-left: 16px;*/
    align-content: stretch;
}
.btn{
    padding: 0;
    width: 80px;
    height: 80px;
}
.operators{
    display:flex;
    flex-direction: column;
}
.row1{
    display: flex;
    gap: 16px;
}
