*{
    font-size: 50px;
    font-family: Roboto, sans-serif;
}
.calc-outer{
    display: flex;
    justify-content: center;
    flex: 0;
    margin-top: 80px;
}

.calc-inner{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 400px;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    border-radius: 4%;
}
.buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0px;

}
.digits{
    display:flex;
    flex-wrap: wrap;
    /*flex: 0 0 33.33333%;*/
    gap: 16px;
    justify-content: center;
    align-content: stretch;
}
.btn{
    padding: 0;
    width: 80px;
    height: 80px;
}
.operators{
    display:flex;
    flex-direction: column;
}
#clear{
    width: auto;
}