.calc-outer{
    display: flex;
    justify-content: center;
}

.calc-inner{
    display:flex;
    flex-direction: column;
}
.buttons{
    display:flex;

}
.digits{
    display:flex;
    flex-wrap: wrap;
    flex: 0 0 33.33333%;
}
.operators{
    display:flex;
    flex-direction: column;
}